#main {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#webgl {
  position: absolute;
  z-index: 1000;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.0);
  z-index: 2000;
}

#body {
  font-family: 'Share Tech Mono';
  transform: scale3d(0,0,0);
}